.omnie-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.omnie-omnie {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(52, 51, 51, 1);
}
.omnie-text {
  top: 274px;
  left: 693px;
  color: rgb(255, 255, 255);
  width: 250px;
  height: auto;
  position: fixed;
  font-size: 40px;
  align-self: flex-end;
  font-style: SemiBold;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.omnie-text01 {
  font-style: normal;
  font-weight: 400;
}
.omnie-text03 {
  top: 574px;
  left: 697px;
  color: rgba(255, 255, 255, 1);
  width: 250px;
  height: auto;
  position: fixed;
  font-size: 40px;
  align-self: flex-end;
  font-style: SemiBold;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.omnie-text05 {
  top: 653px;
  left: 697px;
  color: rgba(255, 255, 255, 1);
  width: 167px;
  height: auto;
  position: fixed;
  font-size: 20px;
  align-self: flex-end;
  font-style: SemiBold;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.omnie-text07 {
  top: 654px;
  left: 887px;
  color: rgba(255, 255, 255, 1);
  width: 238px;
  height: auto;
  position: fixed;
  font-size: 19.5px;
  align-self: flex-end;
  font-style: SemiBold;
  text-align: center;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.omnie-text09 {
  top: 353px;
  left: 695px;
  color: rgba(255, 255, 255, 1);
  width: 600px;
  height: auto;
  position: fixed;
  font-size: 20px;
  align-self: flex-end;
  font-style: SemiBold;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.omnie-top-bar-storonagowna {
  top;: 0;
  width: 100%;
  height: 74px;
  display: flex;
  padding: 17px 14px;
  position: fixed;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(52, 51, 51, 1);
}
.omnie-navlink {
  display: contents;
}
.omnie-s-v-gmiko-w-h-y {
  top: 20px;
  left: 26px;
  width: 182px;
  height: 34px;
  position: absolute;
  text-decoration: none;
}
.omnie-frame1 {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: stretch;
  padding-top: 0 48px 0 0;
  border-color: transparent;
  padding-left: 0 48px 0 0;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0 48px 0 0;
  justify-content: center;
}
.omnie-stronagowna {
  flex: 1;
  right: 46px;
  width: 77px;
  bottom: -5px;
  height: 3px;
  position: absolute;
  align-self: flex-end;
  border-color: transparent;
  border-radius: 10px;
}
.omnie-navlink1 {
  display: contents;
}
.omnie-strona-gwna {
  width: 143px;
  height: 16px;
  z-index: 1;
  position: relative;
  align-self: flex-end;
  box-sizing: content-box;
  margin-right: 30px;
  text-decoration: none;
}
.omnie-navlink2 {
  display: contents;
}
.omnie-omnie1 {
  width: 77px;
  height: 17px;
  z-index: 2;
  position: relative;
  box-sizing: content-box;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .omnie-omnie {
    height: 1020px;
    margin-bottom: 5px;
    padding-bottom: 0px;
  }
  .omnie-text {
    top: 234px;
    left: 328px;
  }
  .omnie-text03 {
    top: 586px;
    left: 324px;
  }
  .omnie-text05 {
    top: 665px;
    left: 324px;
  }
  .omnie-text07 {
    top: 668px;
    left: 528px;
    position: absolute;
  }
  .omnie-text09 {
    top: 293px;
    left: 316px;
    color: rgb(255, 255, 255);
    width: 500px;
    height: var(--dl-size-size-xxlarge);
    margin: auto;
    font-size: 20px;
    font-family: Lato;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  .omnie-top-bar-storonagowna {
    width: 100%;
  }
  .omnie-s-v-gmiko-w-h-y {
    top: 20px;
    left: 26px;
    bottom: 0px;
    margin: 0px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .omnie-omnie {
    height: 1013px;
  }
  .omnie-text {
    top: 163px;
    left: 399px;
  }
  .omnie-text03 {
    top: 625px;
    left: 395px;
  }
  .omnie-text05 {
    top: 704px;
    left: 399px;
  }
  .omnie-text07 {
    left: 399px;
    bottom: 225px;
  }
  .omnie-text09 {
    top: 222px;
    left: 291px;
    width: 350px;
  }
  .omnie-top-bar-storonagowna {
    width: 100%;
  }
}
